body {
    background-color:#3D8BF2;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
}
#container {
background-color: #95B375;
border: 4px dashed white;
margin: 20px auto;
border-radius: 10px;
}

nav {
    background-color: #F89764;
padding: 2px 0;
text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid white;
}

nav li a {
    display: block;
    height: 40px;
    background-color: #038C5A;
    color: black;
    line-height: 40px;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 0;
}

nav li a:hover {
    background-color: gainsboro;
    color: #2CBF42;
    border-color: white;
}

main {
    padding: 10px;
    margin: auto;
    text-align: center;
    display: flex;
}

.col {
    padding: 10px;
    border-top: 2px solid;
}

section, aside {
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

aside {
    margin: 10px;
}

footer {
    background-color: #038C5A;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 10px 10px;

}

.button {
    display: block;
    background-color: #317D79;
    width: 60px;
    height: auto;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px dotted #226C5D;
}

table {
    border: black;

}

tr, te {
    border: 4px solid black;
}

@media (min-width: 768) {
    nav li {
        display: inline-block;  
        border: 0;  
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius:  10px;
        border: 2px dashed white;
    }

    main {
        display: flex;
    }

    section, aside {
        padding: 20px 20px;
        border: 2px solid black;
        border-radius: 10px;
    }

    aside {
        margin: 10px;
    }

    section {
        width: 70%;
    }
    aside {
        width: 30%;
    }

    .col img {
       width: 50%;
    }

    .button {
margin-left: auto;
margin-right: auto;
    }
}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    nav li a {
        background-color: #038C5A;
        border: 0;
    }
    
    #lower_area {
        display: flex;
    }

    .col {
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .single_page {
        width: 100%;
    }
}

td, tr {
    border: 2px solid #363636;
    
}

table {
    margin: auto;
}

section img {
    width: 100%;
}

header img {
    width: 50%
}


.col img {
    width: 75%;
}